#include "include.h"

ZMK_LAYER(COL,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
     _Q_         _W_         _F_         _P_          _B_            _J_         _L_           _U_           _Y_          _SQT_
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     _A_         _R_         _S_         _T_          _G_            _M_         _N_           _E_           _I_          _O_
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     _Z_         _X_         _C_         _D_          _V_            _K_         _H_           _COMMA_       _DOT_        _SLASH_
// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
                                         &mo NAV      SL_SPACE       NUM_ENTER   MOU_BSPC
//                                     ╰────────────┴────────────╯ ╰───────────┴─────────────╯
)

ZMK_LAYER(MOU,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
     XXX         XXX         &SCRL_U     XXX          XXX            XXX         XXX           &MOU_MV_U      XXX          XXX
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     XXX         &SCRL_L      &SCRL_D    &SCRL_R       XXX          &MOU_CLK_R   &MOU_MV_L     &MOU_MV_D     &MOU_MV_R    &MOU_CLK_L
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     XXX         XXX         &kp AL      &kp CL       &kp SL         &kp SL      &kp CL        &kp AR        XXX          &MOU_CLK_M
// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
                                         &MOU_CLK_L   &MOU_CLK_R     XXX         XXX
//                                     ╰────────────┴────────────╯ ╰───────────┴─────────────╯
)

ZMK_LAYER(NUM,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
     &kp QMARK   &kp LT      &kp GT      &kp AT       &kp LNLCK      &kp EQUAL   &kp N7        &kp N8        &kp N9       &kp PLUS
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &sk AL      &sk GL      &sk SL      &sk CL       &sk AR         &kp STAR    &kp N4        &kp N5        &kp N6       &kp MINUS
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &kp NUBS    XXX         &kp TAB     &kp BSPC     &kp ENTER      &kp DOT     &kp N1        &kp N2        &kp N3       &kp UNDER
// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
                                         ___          ___            XXX         &kp N0
//                                     ╰────────────┴────────────╯ ╰───────────┴─────────────╯
)

ZMK_LAYER(SYM,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
     &kp EXCL    &kp DQT     &kp LC(N3)  &kp DLLR     &kp PRCNT      &kp EQUAL   &kp GRAVE     &kp COLON     &kp SEMI     &kp PLUS
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &sk AL      &sk GL      &sk SL      &sk CL       &kp CARET      &kp STAR    &kp LPAR      &kp LBRC      &kp LBKT     &kp MINUS
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &kp BSLH    &kp PIPE    &kp HASH    &kp TILDE    &kp AMPS       &kp AT      &kp RPAR      &kp RBRC      &kp RBKT     &kp UNDER
// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
                                         ___          ___            XXX         XXX
//                                     ╰────────────┴────────────╯ ╰───────────┴─────────────╯
)

ZMK_LAYER(NAV,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
     &kp ESC     &soft_off   XXX         XXX          &kp INS        &kp PG_UP   &kp HOME      &kp UP        &kp END      &kp CAPS
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &sk AL      &sk GL      &sk SL      &sk CL       &sk AR         &kp PG_DN   &kp LEFT      &kp DOWN      &kp RIGHT    &kp DEL
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &kp LC(Z)   &kp LC(X)   &kp LC(C)   &kp TAB      &kp LC(V)     &kp LC(BSPC) &kp BSPC      XXX           XXX          &kp PSCRN
// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
                                         XXX          ___            &kp ENTER   ___
//                                     ╰────────────┴────────────╯ ╰───────────┴─────────────╯
)

ZMK_LAYER(FNC,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
     BTS0        BTS1        BTS2        BTS3         BRI_U          &kp F12     &kp F7        &kp F8        &kp F9       BTCLR
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &sk AL      &sk GL      &sk SL      &sk CL       BRI_D          &kp F11     &kp F4        &kp F5        &kp F6       &kp SLCK
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     BL          VOL_U       VOL_M       VOL_D        XXX            &kp F10     &kp F1        &kp F2        &kp F3       BL
// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
                                         XXX          XXX            ___         ___
//                                     ╰────────────┴────────────╯ ╰───────────┴─────────────╯
)
