#include <behaviors.dtsi>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

#include "constants.h"
#define HOST_OS LINUX // Needed for unicode international_chars

#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/34.h"
#include "../behaviors/soft-off.dtsi"
#include "../behaviors/combos.dtsi"
#include "../behaviors/mouse.dtsi"

ZMK_LAYER(COL,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
     &kp Q       &kp W       &kp F       &kp P        &kp B          &kp J       &kp L         &kp U         &kp Y        &kp SQT
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &kp A       &kp R       &kp S       &kp T        &kp G          &kp M       &kp N         &kp E         &kp I        &kp O
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &kp Z       &kp X       &kp C       &kp D        &kp V          &kp K       &kp H         &kp COMMA     &kp DOT      &kp SLASH
// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
                                         XXX         &mt SL SPACE    &kp ENTER   &mo NUM
//                                     ╰────────────┴────────────╯ ╰───────────┴─────────────╯
)

ZMK_LAYER(MOU,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
     XXX         XXX         &mwh_tg     &mmv_dpi     XXX            XXX         XXX           &mmv_up       XXX          XXX
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     XXX         &mwh_lf     &mwh_up     &mwh_dn      &mwh_rg        XXX         &mmv_lf       &mmv_dn       &mmv_rg      &mkp_md
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     XXX         XXX         &kp AL      &kp CL       &kp SL         &kp SL      &kp CL        &kp AR        XXX          XXX
// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
                                         XXX          &mkp_lf        &mkp_rg     XXX
//                                     ╰────────────┴────────────╯ ╰───────────┴─────────────╯
)

ZMK_LAYER(NUM,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
     &kp QMARK   &kp LT      &kp GT      &kp AT       &kp LNLCK      &kp EQUAL   &kp N7        &kp N8        &kp N9       &kp PLUS
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &sk AL      &sk GL      &sk SL      &sk CL       &sk AR         &kp STAR    &kp N4        &kp N5        &kp N6       &kp MINUS
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &kp DOT     XXX         &kp TAB     &kp BSPC     &kp ENTER      &kp DOT     &kp N1        &kp N2        &kp N3       &kp UNDER
// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
                                         ___          ___            ___         &kp N0
//                                     ╰────────────┴────────────╯ ╰───────────┴─────────────╯
)

ZMK_LAYER(SYM,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
     &kp EXCL    &kp DQT     &kp LC(N3)  &kp DLLR     &kp PRCNT      &kp EQUAL   &kp GRAVE     &kp COLON     &kp SEMI     &kp PLUS
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &sk AL      &sk GL      &sk SL      &sk CL       &kp CARET      &kp STAR    &kp LPAR      &kp LBRC      &kp LBKT     &kp MINUS
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &kp BSLH    &kp PIPE    &kp HASH    &kp TILDE    &kp AMPS       &kp AT      &kp RPAR      &kp RBRC      &kp RBKT     &kp UNDER
// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
                                         ___          ___            XXX         XXX
//                                     ╰────────────┴────────────╯ ╰───────────┴─────────────╯
)

//ZMK_LAYER(NAV,
//// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
//     &kp ESC     &soft_off   XXX         XXX          &kp INS        &kp PG_UP   &kp HOME      &kp UP        &kp END      &kp CAPS
//// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
//     &sk AL      &sk GL      &sk SL      &sk CL       &sk AR         &kp PG_DN   &kp LEFT      &kp DOWN      &kp RIGHT    &kp DEL
//// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
//     &kp LC(Z)   &kp LC(X)   &kp LC(C)   &kp TAB      &kp LC(V)     &kp LC(BSPC) &kp BSPC      XXX           XXX          &kp PSCRN
//// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
//                                         XXX          ___            ___         ___
////                                     ╰────────────┴────────────╯ ╰───────────┴─────────────╯
//)

//ZMK_LAYER(FNC,
//// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
//   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &kp C_BRI_UP   &kp F12     &kp F7        &kp F8        &kp F9       &bt BT_CLR
//// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
//     &sk AL      &sk GL      &sk SL      &sk CL       &kp C_BRI_BN   &kp F11     &kp F4        &kp F5        &kp F6       &kp SLCK
//// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
//   &bootloader &kp C_VOL_UP &kp C_MUTE  &kp C_VOL_DN  XXX            &kp F10     &kp F1       &kp F2         &kp F3       &bootloader
//// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
//                                         XXX          XXX            ___         &kp F0
////                                     ╰────────────┴────────────╯ ╰───────────┴─────────────╯
//)
