/* Combos */
#undef COMBO_TERM
#define COMBO_TERM 40  // timeout of 40ms (default is 30ms if omitted)
#define HR_TIMEOUT 30  // timeout on homerow is better a bit shorter

ZMK_COMBO(move_fnc, &mo FNC, LH1 LH0, ALL) /* Left thumbs */
ZMK_COMBO(move_sym, &mo SYM, RH0 RH1, ALL) /* Right thumbs */
//ZMK_COMBO(qwerty_34, &tog QWE, LH0 RH0, ALL) /*Inner thumbs */
